<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <input type="text" placeholder="Search Recipes..." [(ngModel)]="filteredRecipes">
        <app-recipe-item
        *ngFor="let recipeElement of recipes | filter:filteredRecipes:'name'; let i = index"
        [recipe]="recipeElement"
        [index]="recipes.indexOf(recipeElement)"
        ></app-recipe-item>
    </div>
</div>
